* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ---- HEADER ---- */
.logo {
  background-color: rgba(200, 36, 36, 0.852);
  width: 100%;
}

.img-logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(203, 123, 37, 0.697);
  padding: 10px;
  font-family: "Libre Baskerville", serif;
}

@media (max-width: 480px) {
  .logo {
    min-width: 400px;
  }
}
@media (min-width: 481px) {
  .img-logo {
    width: 480px;
  }
}
/*---- MAIN ----*/
h2 {
  background-color: rgba(211, 127, 38, 0.692);
  text-align: center;
  background-position: center;
  color: black;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bienvenida {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  background-image: url("../img/taller1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Libre Baskerville", serif;
}

.texto-bienvenida {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: antiquewhite;
  padding: 10px 10px;
}

.sobre-nosotros {
  background-color: antiquewhite;
  font-family: "Libre Baskerville", serif;
  padding-top: 40px;
  text-align: center;
}

.contacto {
  background-color: antiquewhite;
  padding: 40px 10px 10px 10px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Libre Baskerville", serif;
  gap: 5px;
}

.textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Libre Baskerville", serif;
  gap: 5px;
}

.textoform {
  resize: none;
}

.boton {
  background-color: rgba(211, 127, 38, 0.692);
  color: black;
  width: 100px;
  height: 30px;
  font-family: "Libre Baskerville", serif;
  font-size: large;
  border-radius: 20px;
}

.imagenes-galeria {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .texto-bienvenida {
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 70px;
  }
}
/*----FOOTER----*/
footer {
  background-color: rgba(200, 36, 36, 0.852);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: min-content;
  display: flex;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
}

h3 {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

section h3 footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.mapa {
  text-align: center;
  padding-top: 15px;
}

.mapa1 {
  padding-top: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.redes ul li a {
  color: black;
}

.redes ul li a i {
  font-size: 4rem;
}

@media (min-width: 400px) {
  .redes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  footer {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}/*# sourceMappingURL=main.css.map */